*.pyc
*.#*
*#*#
*.o
*.lo
/gc/
test.bin/
rt/*.a
*~
doc/harlan-manual.pdf
*.log
*.aux
*.toc
*/.deps/
*/.libs/
*/autom4te.cache/
.DS_Store
a.out
*/a.out
data/
TAGS
*.out
*.so
*.patch
*.dSYM
*.s
*.cl
hello
hello.cpp
simpleAlpha.kfc
*.png
*.pdf
*.dot
bench-bfs-color
dmm
dmm-hand-optimized
dmm.cpp
interp-lambda*
error.kfc
mandelbrot
nested-kernels
nested-kernels.cpp
build/
