*.pyc
*.#*
*#*#
*.o
*.lo
/gc/
test.bin/
rt/*.a
*~
doc/harlan-manual.pdf
*.log
*.aux
*.toc
*/.deps/
*/.libs/
*/autom4te.cache/
.DS_Store
a.out
*/a.out
data/
gc-7.2alpha6/Makefile
gc-7.2alpha6/bdw-gc.pc
gc-7.2alpha6/config.log
gc-7.2alpha6/config.status
gc-7.2alpha6/include/private/config.h
gc-7.2alpha6/include/private/stamp-h1
gc-7.2alpha6/libcord.la
gc-7.2alpha6/libgc.la
gc-7.2alpha6/libtool
gc-7.2alpha6/libatomic_ops/Makefile
gc-7.2alpha6/libatomic_ops/config.log
gc-7.2alpha6/libatomic_ops/config.status
gc-7.2alpha6/libatomic_ops/doc/Makefile
gc-7.2alpha6/libatomic_ops/src/.deps/
gc-7.2alpha6/libatomic_ops/src/Makefile
gc-7.2alpha6/libatomic_ops/src/atomic_ops/Makefile
gc-7.2alpha6/libatomic_ops/src/atomic_ops/sysdeps/Makefile
gc-7.2alpha6/libatomic_ops/src/config.h
gc-7.2alpha6/libatomic_ops/src/stamp-h1
gc-7.2alpha6/libatomic_ops/tests/.deps/
gc-7.2alpha6/libatomic_ops/tests/Makefile
TAGS
*.out
*.so
*.patch
*.dSYM
*.s
*.cl
hello
hello.cpp
simpleAlpha.kfc
*.png
*.pdf
*.dot
bench-bfs-color
dmm
dmm-hand-optimized
dmm.cpp
interp-lambda*
error.kfc
mandelbrot
nested-kernels
nested-kernels.cpp
