[submodule "external/elegant-weapons"]
	path = external/elegant-weapons
	url = https://github.com/eholk/elegant-weapons.git
[submodule "external/nanopass-framework"]
	path = external/nanopass-framework
	url = https://github.com/akeep/nanopass-framework.git
