[submodule "external/elegant-weapons"]
	path = external/elegant-weapons
	url = https://github.com/eholk/elegant-weapons.git
[submodule "external/gc"]
	path = external/gc
	url = https://github.com/ivmai/bdwgc.git
[submodule "external/libatomic_ops"]
	path = external/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "external/scheme-listings"]
	path = external/scheme-listings
	url = https://github.com/stuhlmueller/scheme-listings.git
